@model EmployeeViewModel


<div>
    <img src="~/files/Images/@Model.ImageName" class="img-fluid rounded " width="75"/>
</div>
<div class=" form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class=" form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" readonly />
</div>
<div class=" form-group">
    <label class="col-form-label" asp-for="Adresss"></label>
    <input asp-for="Adresss" class="form-control" readonly />

</div>

<div class=" form-group">
    <label class="col-form-label" asp-for="Mail"></label>
    <input asp-for="Mail" class="form-control" readonly />
</div>
<div class=" form-group">
    <label class="col-form-label" asp-for="Phone"></label>
    <input asp-for="Phone" class="form-control" readonly />
</div>
<div class=" form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" readonly />
</div>
<div class=" form-group">
    <label class="col-form-label" asp-for="DepartmentId"></label>
    <input asp-for="DepartmentId" class="form-control" readonly />
</div>
