@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>

    <partial name="PartialViews/DeleteDetailsEmployeePartial" />
  
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</div>